.logbtn {
    margin-left: 3px;
    }
.regblock {
    width: 100%;
}
form div.loghead {
    font-size: 10pt;
    font-style: italic;
    font-color: #5c62d8;
}
.logo a img {
    border: 0px;
}
div.content {
    min-height: 150px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer {
    font-weight: bolder;
    font-size: 8pt;
    font-style: italic;
}