<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <title>Аптека 42 | {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="lib/jQuery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="lib/Bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="col-md-5 col-md-offset-7">
        <form action="/stuffs" method="POST">
            <div class="text-center loghead">Вход для сотрудников</div>
            <div class="controls-row"><input type="text" name="loginp" class="input-small" placeholder="Логин"> <input
                    type="password" name="passinp" class="input-small" placeholder="Пароль"> <input type="submit"
                                                                                                    class="btn btn-primary logbtn"
                                                                                                    tabindex="8"
                                                                                                    name="logbtn"
                                                                                                    value="Вход"> <input
                    type="button" onclick="location.href='/stuffs/add'" class="btn btn-primary" value="Регистрация">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center logo"><a href="/"><img src="img/logo.png" width="400"></a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 menu">
        <div class="text-center">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid"> <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/drugs">Лекарства</a></li>
                            <li><a href="/staffs">Сотрудники</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Заказы <b
                                    class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/orders/add">Приём заказа</a></li>
                                    <li><a href="/orders">Список заказов</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Поиск...">
                            </div>
                            <button type="submit" class="btn btn-sm">Искать</button>
                        </form>
                    </div>
                    <!-- /.navbar-collapse --> </div>
                <!-- /.container-fluid --> </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 content" style="border: 1px solid #43fe23">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <footer>
            <em>
                Irbis, Delphist2008, Andreybotanic © 2014. All rights reserved
            </em>
        </footer>
    </div>
</div>

</body>
</html>